name: CI/CD
on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "**/README.md"

jobs:
  # lint-pr-title:
  #   runs-on: ubuntu-latest
  #   name: Validate PR Title
  #   steps:
  #     - uses: amannn/action-semantic-pull-request@v5
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: Run ESLint
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          cache-dependency-path: pnpm-lock.yaml
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        env:
          SKIP_ENV_VALIDATION: 1
          DATABASE_URL: $DATABASE_URL
        run: pnpm install --frozen-lockfile

      - name: Run linter
        env:
          SKIP_ENV_VALIDATION: 1
        run: pnpm lint

  build-app:
    name: "Build App"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          cache-dependency-path: pnpm-lock.yaml
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        env:
          SKIP_ENV_VALIDATION: 1
          DATABASE_URL: $DATABASE_URL
        run: pnpm install --frozen-lockfile

      - name: Build project
        env:
          SKIP_ENV_VALIDATION: 1
          DATABASE_URL: $DATABASE_URL
        run: pnpm build

  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Loging to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: gabfid/fit-fam:latest
